<ion-view view-title="Cambiar Clave" >

	<ion-nav-bar class="navbar">
		<ion-nav-buttons side="left">
        	<button class="button button-icon button-clear " ui-sref="menu-contenido.principal"><i class="icon ion-arrow-left-c"></i>
        	</button>
      </ion-nav-buttons> 	
    </ion-nav-bar>

   <ion-content >
		<form class="padding" name="editarClaveForm" ng-controller="tratamientoController" ng-submit="cambiarClave()">
			<label class="item item-input item-floating-label">
          		<span class="input-label">Clave actual <p class="mensaje-error">{{ErrorclaveActual}}</p> </span>
		    	<input ng-model="claveactualc" type="password" placeholder="Clave actual" required/>
		  </label>

			<label class="item item-input item-floating-label">
          		<span class="input-label">Clave  nueva </span>
				<input ng-model="clavenueva" type="password" placeholder="Clave nueva" required/>
			</label>

			<label class="item item-input item-floating-label">
          		<span class="input-label">Repetir clave nueva <p class="mensaje-error">{{mensajeErrorClave}}</p></span>
				<input ng-model="clavenueva2" type="password" placeholder="Repetir clave nueva" ng-change="verificarClave()" required/>
			</label>
			<button type="submit" class="button button-full botones" ng-disabled='!editarClaveForm.$valid'> Cambiar </button>
		</form>

	</ion-content>

</ion-view>