<ion-view view-title="Editar Cuenta" >

	<ion-nav-bar class="navbar">
		<ion-nav-buttons side="left">
        	<button class="button button-icon button-clear " ui-sref="menu-contenido.principal"><i class="icon ion-arrow-left-c"></i>
        	</button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content ng-init="listarUsuario()">
      <form class="padding" name="editarCuentaForm" ng-submit="editarCuenta()">
        <label class="item item-input item-floating-label">
          <span class="input-label">Correo Electrónico <p class="mensaje-error">{{mensajeErrorCorreo}}</p></span>
          <input type="text" ng-model="correoeditar.val" required/>  
        </label>
      
        <button type="submit" class="button button-full botones" ng-disabled='!editarCuentaForm.$valid'> Cambiar </button>
      </form>
    <ion-conten>

  </ion-view>