
<ion-view view-title="Inicio">
   <ion-content >
	   <div id="main">
			<h1 id="tituloprincipal" class="texto_centrado"> Tu Botiquin </h1>  
			<div class="responsive-sm responsive-md responsive-lg">
				<div class"row">
				  <div class="col col-33 col-offset-33">
				  	<button class="button button-block botones" ui-sref="sesion"> Iniciar Sesión </button>
				  </div>
				 </div>
				<div class="row">
				  <div class="col col-33 col-offset-33">
				  	<button class="button  button-block botones" ui-sref="registrar"> Registrar </button>
				  </div>
				 </div>
			</div>
		</div>
	</ion-content>
</ion-view>

{{popover}}
