<ion-view view-title="Recordar Contraseña">

    <ion-nav-bar class="navbar">	        
	  	<ion-nav-back-button class="button-clear">
	      <i class="ion-arrow-left-c"></i>
	    </ion-nav-back-button>	
    </ion-nav-bar>

   <ion-content >
   		<div class="responsive-sm responsive-md responsive-lg">
			<form class="padding list" ng-controller="principalController" ng-submit="recordarContrasena()">
				<div class="item item-input-inset">
				    <label class="item-input-wrapper item-floating-label">
				    	<span class="input-label">Correo Electrónico</span>
				       	<input type="email" placeholder="Correo Electrónico" ng-model="correocontrasena" >
				    </label>
				    <button class="button button-large botones"> Enviar </button>
				  </div>


			  <!--<label class="item item-input">
			  	<i class="icon ion-email placeholder-icon"></i>
			    <input type="email" placeholder="Correo" ng-model="correocontrasena" required>
			  </label>
			  <button type="submit" class="button botones"> Reestablecer contraseña</button>-->
			</form>
		</div>
	</ion-content>

</ion-view>