<ion-view view-title="Ver Tratamiento" >

	<ion-nav-bar class="navbar">
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear " ui-sref="lista-tratamiento"><i class="icon ion-arrow-left-c"></i>
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>

   <ion-content ng-init="llenarformedit()">
   	<ul class="list">
	    <li class="item">
            <span><b>Nombre:</b></span>
            {{nombreactrat.val}}
        </li>
        <li class="item">  
            <span><b>Nombre del médico:</b></span>     
            {{nombreactmedi.val}}
        </li>
        <li class="item">
            <span><b>Fecha de inicio del tratamiento:</b></span>     
    	   {{fechactrata.val}}
        </li>
        <li class="item">
            <span><b>Duración del tratamiento:</b></span>     
    	   {{diasactrata.val}} días
        </li>
        <div class="item item-divider">
            <b>Días de toma del tratamiento</b>
        </div>
        <li class="item" ng-if="lunesact==true">
        	Lunes
        </li>
        <li class="item" ng-if="martesact==true">
        	Martes
        </li>
        <li class="item" ng-if="miercolesact==true">
        	Miercoles
        </li>
        <li class="item" ng-if="juevesac==truet">
        	Jueves
        </li>
        <li class="item" ng-if="viernesact==true">
        	Viernes
        </li>
        <li class="item" ng-if="sabadoact==true">
        	Sabado
        </li>
        <li class="item" ng-if="domingoact==true">
        	Domingo
        </li>
        <div class="item item-divider">
            <b>Horas de toma de tratamiento</b>
        </div>
        <div class="item item-input" ng-repeat="elemento in horasactarray"> 
        	<li class="item">
				{{elemento.nombre}}
			</li>
		</div>
	</ul>

	</ion-content>

</ion-view>